<!DOCTYPE html>
<html lang="en">

<head>
  <title>About</title>
  <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Rob Hitt. It uses mapbox.com and and weatherstack to ceate an API and return current
      weather data to the user based on their input.</p>
    <img class="portrait" src="./img/donut.webp">
  </div>

  {{>footer}}
</body>

</html>